@use "chaos-scss" as cs;

main#login {
    @extend .flex-column, .align-center, .justify-center;

    form {
        padding: 1rem;

        fieldset {
            padding: 1rem;

            .buttons,
            .error,
            .errors {
                grid-column: 1 / -1;
                @extend .flex-row, .align-center, .justify-center;
            }

            .error,
            .errors {
                color: var(--alert, maroon);
            }

            input[type=checkbox] {
                width: 20px;
            }
        }
    }
}
