@use "chaos-scss" as *;

nav {
    @extend .flex-column;

    border-right: 2px solid var(--borderColor);
    padding-top: 3rem;

    max-width: 200px;
    height: 100%;
    overflow-y: auto;

    a {
        color: inherit;
        padding: 0.5rem;
        text-decoration: none;

        display: block;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:hover {
            color: var(--navHoverFG);
            background: var(--navHoverBG);
        }
    }

}
